/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

ul{
    list-style-type: none;
    display: flex;
}

h3{
    padding-right: 1rem;
}

li{
    margin: 0.5rem;
}


.header-orange{
    display: flex;
    background-color: #ff6900;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
}

.products{
    padding: 100px;
    width: 1000px;
    align-items: center;

}

.product{
    width: 30%;
    height: 300px;
    color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    display: inline-block;

}

.black-footer{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-between;
    padding:2rem;
}

.heart{
    position:absolute;
    top:0.1rem;
    right: 0rem;
}

.sconto{
    position:absolute;
    left:0.3rem;
    bottom:0.1rem;
    background-color: red;
    color: white;
}

.sostenibilità{
    position:absolute;
    bottom:0.1rem;
    left:3rem;
    background-color: green;
    color: white;
}

.prima-immagine{
    width: 100%;
}


#boolean-logo{
width: 20%;}

.cifra-rossa{
    color: red;
}

.cifra-barrata{
    text-decoration: line-through;
    
}

.scritta-bold{
    font-weight: bold;
}