/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

ul{
    list-style-type: none;
    display: flex;
}

h3{
    padding-right: 1rem;
}

li{
    margin: 0.5rem;
}


.header-orange{
    display: flex;
    background-color: #ff6900;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
}

.products{
    display: flex;
}

.product{
    width: 15%;
    height: 300px;
    color: black;
    background-image:url("../img/1.webp");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.black-footer{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-between;
    padding:2rem;
}

.heart{
    position:absolute;
    top:0.1rem;
    right: 0rem;
}

.sconto{
    position:absolute;
    left:0.5rem;
    bottom:1rem;
    background-color: red;
    color: white;
}

.sostenibilità{
    position:absolute;
    bottom:1rem;
    left:2.6rem;
    background-color: green;
    color: white;
}

#boolean-logo{
    height: 20%;
}

